.content {
  border: 2px solid black;
  width: 40%;
  margin-left: 10%;
  margin-top: 100px;
}
.DVD {
  color: red;
}

.CD {
  color: blue;
}

.livres {
  color: yellow;
}
.container {
  padding-left: 100px;
}
